<div class="col-lg-4 offset-lg-4" style="margin-top: 50px">

    <form method="post">
        <h3>Cadastrar dispositivo</h3>
        <label> Nome do dispositivo:</label>
        <input name="nome" type="text" class="form-control">
        <label> Nome do dispositivo:</label>
        <select name="tipo" type="text" class="form-control">
            <option value="celular">Celular</option>
            <option value="tablet">Tablet</option>
            <option value="televisao">Televisão</option>
        </select>
        <label>Local</label>
        <input name="local" type="text" class="form-control">
        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 25px">Cadastrar</button>
    </form>
</div>
