<div class="row bg-success" style="min-height: 100vh;align-items: flex-start;padding-top: 50px;">
    <div class="col-lg-3 offset-lg-1 bg-white">
        <ul class="nav flex-column" >
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-7 bg-white">
        
    </div>
</div>