<div class="bg-primary" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="col-lg-4 bg-white" style="padding: 20px;">
        <header style="display: inline-flex; align-items: center; margin-bottom: 30px;">
            <a href="#" onclick="window.history.back()" style="margin: 0 15px 0 0; font-size: 26px;"><i class="fas fa-arrow-circle-left"></i></a>
            <h3 class="m-0">Cadastro de Usuário</h3>
        </header>
        <%if(error !== ''){%>
            <div class="alert alert-danger">
                <%- error %>
            </div>
            <%}%>
        <form method="post">
            <label >Email</label>
            <input class="form-control" type="email" name="email"/>
            <label style="margin-top: 10px;">Senha</label>
            <input class="form-control" type="password" name="password"/>
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20px;">Entrar</button>
            <div style="width: 100%; text-align: center; margin-top: 15px;">
                <a href="./register" >Cadastrar-se</a>
            </div>
        </form>
    </div>
</div>